html {
  font-size: 2.6666667vw;
  @include sm {
    font-size: 10px;
  }
}

body {
  background: #f7f7f7;
}

.inner {
  padding: 0 15px;
  @include md {
    width: 1200px;
    max-width: 100%;
    margin: auto;
  }
}

.section-title {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  @include sm {
    font-size: 2.8rem;
  }
  @include md {
    font-size: 3.3rem;
  }
  span {
    display: block;
    margin-top: 2px;
    color: #919191;
    font-size: 1.1rem;
    @include sm {
      font-size: 1.4rem;
    }
    @include md {
      font-size: 1.6rem;
    }
  }
}
