.header {
  position: fixed;
  left: calc(50% - 93% / 2);
  display: flex;
  align-items: center;
  height: 5rem;
  width: 93%;
  margin: auto;
  background: #fff;
  border-radius: 0 0 2rem 2rem;
  z-index: 99;
  @include md {
    width: 1200px;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 3rem;
}

.header-logo {
  width: 5rem;
  img {
    width: 100%;
  }
}

.header-nav-check {
  display: none;
}

.header-nav-toggle {
  display: flex;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
  @include sm {
    display: none;
  }
}

.header-nav-toggle span,
.header-nav-toggle span:before,
.header-nav-toggle span:after {
  content: "";
  display: block;
  height: 0.3rem;
  width: 2.5rem;
  border-radius: 0.3rem;
  background: #707070;
  transition: 0.5s;
  position: absolute;
}

.header-nav-toggle span:before {
  bottom: 0.8rem;
}

.header-nav-toggle span:after {
  top: 0.8rem;
}

.header-nav-check:checked ~ .header-nav-toggle span {
  background: rgba(255, 255, 255, 0);
}

.header-nav-check:checked ~ .header-nav-toggle span::before {
  bottom: 0;
  transform: rotate(45deg);
}

.header-nav-check:checked ~ .header-nav-toggle span::after {
  top: 0;
  transform: rotate(-45deg);
}

.header-nav {
  width: 100%;
  height: 100%;
  padding: 7rem 2rem;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 99;
  background: #fff;
  transition: 0.5s;
  @include sm {
    width: auto;
    position: relative;
    top: auto;
    left: auto;
    padding: 0;
    transition: 0s;
  }
}

.header-nav-check:checked ~ .header-nav {
  left: 0;
}

.header-nav-list {
  @include sm {
    display: flex;
  }
}

.header-nav-item {
  border-bottom: 0.1rem solid #707070;
  padding: 1.5rem 1rem;
  @include sm {
    border: none;
    padding: 0;
  }
  &:first-child {
    border-top: 0.1rem solid #707070;
    @include sm {
      border: none;
    }
  }
  &:not(:first-child) {
    @include sm {
      margin-left: 20px;
    }
    @include md {
      margin-left: 50px;
    }
  }
  a {
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
