.login {
  padding: 4rem 0;
  @include sm {
    padding: 8rem 0;
    max-width: 400px;
    margin: auto;
  }
}

.login-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.login-button {
  display: block;
  width: 160px;
  margin: auto;
}
